---
import { site } from '../config';
---
<header class="site-header">
  <nav class="nav">
    <a href="/" class="brand">Nguyễn Ngọc <span>Vũ</span></a>
    <div class="nav-links">
      <a href="/">Trang chủ</a>
      <a href="/blog">Blog</a>
      <a href="/gioi-thieu">Giới thiệu</a>
      <a href="/lien-he">Liên hệ</a>
    </div>
  </nav>
</header>
